<!DOCTYPE html>
<html ng-app="atentamente">
<head>
  <title>Atentamente</title>
  <meta name="description" content="Comunicación efectiva entre los servidores públicos y tú.">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= facebook_meta_tags %>
  <%= twitter_meta_tags %>
  <%= csrf_meta_tags %>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div ng-include="'top-nav/top-nav.html'"></div>
	<div class="container-fluid">
		<ui-view></ui-view>
	</div>
  <%= render "plugins/facebook" %>
  <%= render "plugins/twitter" %>
</body>
</html>
